body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'PT Sans', sans-serif;
}

.mundep_map {
    width: 100%;
    background-image: url('https://pp.userapi.com/c837335/v837335801/35ebd/zy3K2KSkdTs.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.district_cnt {
    margin-right: 5%;
    margin-left: 5%;
}

.candidate_cnt {
    padding-top: 50px;
    padding-bottom: 50px;
}

.candidate_cnt > img {
    width: 100%;
    border-radius: 50%;
}

.candidate_cnt > h1 {
    padding-top: 10px;
    font-weight: bold;
}

.candidate_cnt > p {
    font-family: 'PT Serif', serif;
}

.colored_1 {
    background-color: #306F78;
    border-bottom: 5px solid #204F58;
}

.colored_2 {
    background-color: #B4CA5D;
    border-bottom: 5px solid #849A3D;
}

.colored_3 {
    background-color: #E58753;
    border-bottom: 5px solid #956743;
}

.district_btn_cnt {
    padding-top: 20px;
}

.district_btn {
    text-align: center;
    color: #eee;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.district_btn > a {
    text-decoration: none;
}

.district_name {
    font-size: 36pt;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.district_name:first-of-type {
    padding-top: 50px;
}

hr.district_sep {
    width: 80%;
    color: #333;
    background-color: #ddd;
    height: 5px;
    margin: 40px auto;
}

.promo_pic {
    width: 100%;
}

.button_desc {
    width: 100%;
    text-align: center;
    padding: 50px 20%;
}

.promo_pic {
    background-image: url("MundepPromo-3.jpg");
    background-position: center;
    background-size: cover;
    height: 95vh;
    width: 100vw;
}

.slogan {
    position: absolute;
    top: 20px;
    right: 10%;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 4vw;
    text-align: right;
}

.slogan > p {
    margin: 0;
    padding: 0px 1vw;
    background: rgba(51, 51, 51, 0.5);
}

.slogan>p:first-child {
    padding-right: 1vw;
}

@keyframes arrow {
    from {
        bottom: -16px;
    }
    50% {
        bottom: -32px;
    }
    to {
        bottom: -16px;
    }
}

.arrow_container {
    position: absolute;
    bottom: -32px;
    height: 256px;
    width: 100%;
    text-align: center;
    animation: arrow 2s infinite ease-in-out;
}

.arrow_container > img {
    width: 256px;
}
