body {
    background: #555;
    color: white;
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    background-image: url("https://i.imgur.com/Kngq10v.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: 0px;
}

.column-wrapper {
    margin-left: 20%;
    margin-right: 20%;
    
    min-height: 100vh;
    height: 100%;
    padding: 10px;
}

div.column-wrapper > h1 {
    font-family: 'Lobster', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 72pt;
}

div.post {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 20px;
    margin-bottom: 30px;

    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

div.post > h1 {
    font-size: 24pt;
    padding: 10px 0px;
}

p {
    margin: 0px;
    padding: 10px 0px;
}

table {
    border: 1px #888 solid;
    padding: 0px;
}

tr:nth-of-type(odd) {
    background-color: #ccc;
}

td {
    padding: 5px 10px;
}

p.author {
    width: 100%;
    font-style: italic;
    font-weight: bold;
    text-align: right;
}